.field {
  display: flex;
  flex-wrap: wrap;

  width: 16rem;
  height: 7rem;

}

.space {
  background: rgb(11, 134, 58);
  width: 1rem;
  height: 1rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: black;

  &:hover {
    background: rgb(105, 240, 154);
  }

  &.selected {
    border-color: rgb(255, 171, 69);
  }

  &.ball {
    background: rgb(255, 255, 255);
  }

  &.player {
    background: rgb(2, 0, 124);
  }

  &.teamA {
    background: rgb(187, 0, 0);
  }

  &.neighbor {
    // border-color: crimson;
    border-color: rgb(255, 171, 69);
  }

}
